<!--CARD DECK-->
<section class="container">

    <div class="card-deck row row-cols-sm-2  row-cols-md-2 row-cols-lg-4 text-center p-1">

        <!--CARD 144-->
        <div class="col mb-4 ">
            <div class="card  border-success text-center m-1 " style="max-width: 18rem;">
                <div class="card-header text-white bg-success">
                    <h5>LLAMÁ AL 144</h5>
                </div>
                <div class="card-body text-success">
                    <h5 class="card-title">Violencia de Género</h5>
                    <p class="card-text ">El equipo es interdisciplinario y está compuesto por profesionales de las áreas del Derecho, la Psicología, el Trabajo Social y otras áreas afines, capacitadxs y/o especializadxs en perspectiva de género.</p>
                </div>
                <!--ICONOS-->
                <div class="row justify-content-center">
                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success border-light alert-link m-2 " data-toggle="modal" data-target="#exampleModalMailGenero">
              <!--icono mail-->
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
                </svg>
                 <!--icono mail-->
             </button>
                    <div class="modal fade text-success" id="exampleModalMailGenero" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>

                                </div>
                                <div class="modal-body">
                                    <h5> linea144@mingeneros.gob.ar</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->

                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success border-light alert-link m-2 " data-toggle="modal" data-target="#exampleModalTelefonoGenero">
              <!--icono telefono-->
              <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
              </svg>
                 <!--icono telefono-->
             </button>
                    <div class="modal fade text-success" id="exampleModalTelefonoGenero" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>

                                </div>
                                <div class="modal-body">
                                    <h5> Numero de Linea--> 144</h5>
                                    <h5> WhatsApp--> 1127716463</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->
                </div>
                <!--FIN ICONOS-->
            </div>
        </div>
        <!--FIN CARD 144-->

        <!--CARD 137-->
        <div class="col mb-4">
            <div class="card  border-success text-center m-1" style="max-width: 18rem;">
                <div class="card-header text-white bg-success">
                    <h5>LLAMÁ AL 137</h5>
                </div>
                <div class="card-body text-success">
                    <h5 class="card-title">Violencia Familiar y Sexual</h5>
                    <p class="card-text">Cualquier persona que sea víctima o tenga conocimiento de una situación de violencia familiar o sexual puede comunicarse las 24 horas, los 365 días del año,de manera gratuita.</p>
                </div>

                <!--ICONOS-->


                <div class="row justify-content-center">
                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success border-light alert-link m-2 " data-toggle="modal" data-target="#exampleModalMailGenero02">
            <!--icono mail-->
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
              </svg>
               <!--icono mail-->
           </button>
                    <div class="modal fade text-success" id="exampleModalMailGenero02" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>

                                </div>
                                <div class="modal-body">
                                    <h5> vicontravio@jus.gov.ar</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->


                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success border-light alert-link m-2 " data-toggle="modal" data-target="#exampleModalTelefonoGenero02">
            <!--icono telefono-->
            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
            </svg>
               <!--icono telefono-->
           </button>
                    <div class="modal fade text-success" id="exampleModalTelefonoGenero02" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>

                                </div>
                                <div class="modal-body">
                                    <h5> Numero de Linea--> 137</h5>
                                    <h5> WhatsApp--> 11-3133-1000</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->
                </div>
                <!--FIN ICONOS-->
            </div>
        </div>
        <!--FIN CARD 137-->

        <!--CARD 145-->
        <div class="col mb-4">

            <div class="card  border-success text-center m-2 " style="max-width: 18rem;">
                <div class="card-header text-white bg-success">
                    <h5>LLAMÁ AL 145</h5>
                </div>
                <div class="card-body text-success">
                    <h5 class="card-title">Trata de Personas</h5>
                    <p class="card-text">Prevenir o denunciar la violación a los Derechos Humanos que implica el engaño, reclutamiento, transporte y explotación sexual, trabajo forzoso o alguna otra práctica como esclavitud.</p>
                </div>
                <!--ICONOS-->
                <div class="row justify-content-center">
                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success border-light alert-link m-2 " data-toggle="modal" data-target="#exampleModalMailGenero03">
            <!--icono mail-->
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
              </svg>
               <!--icono mail-->
           </button>
                    <div class="modal fade text-success" id="exampleModalMailGenero03" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>

                                </div>
                                <div class="modal-body">
                                    <h5> direcciondeplanificacion.trata@gmail.com</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->

                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success border-light alert-link m-2 " data-toggle="modal" data-target="#exampleModalTelefonoGenero03">
            <!--icono telefono-->
            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
            </svg>
               <!--icono telefono-->
           </button>
                    <div class="modal fade text-success" id="exampleModalTelefonoGenero03" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>

                                </div>
                                <div class="modal-body">
                                    <h5> Numero de Linea--> 145</h5>
                                    <h5> WhatsApp--> 11-6546-0580</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->
                </div>
                <!--FIN ICONOS-->
            </div>
        </div>
        <!--FIN CARD 145-->

        <!--CARD 911-->
        <div class="col mb-4">

            <div class="card  border-success text-center m-2" style="max-width: 18rem;">
                <div class="card-header text-white bg-success">
                    <h5>LLAMÁ AL 911</h5>
                </div>
                <div class="card-body text-success">
                    <h5 class="card-title">Emergencia y Ayuda.</h5>
                    <p class="card-text"> Como primera medida siempre debés mantenerte a resguardo, luego llamá al 911, y procurá brindar al operador que te atiende la dirección del lugar donde te encontrás lo mas exacto posible.
                    </p>
                </div>
                <!--ICONOS-->
                <div class="row justify-content-center">
                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success border-light alert-link m-2 " data-toggle="modal" data-target="#exampleModalMailGenero04">
          <!--icono mail-->
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
            </svg>
             <!--icono mail-->
         </button>
                    <div class="modal fade text-success" id="exampleModalMailGenero04" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>

                                </div>
                                <div class="modal-body">
                                    <h5>-</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->

                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success border-light alert-link m-2 " data-toggle="modal" data-target="#exampleModalTelefonoGenero04">
          <!--icono telefono-->
          <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
             <!--icono telefono-->
         </button>
                    <div class="modal fade text-success" id="exampleModalTelefonoGenero04" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>

                                </div>
                                <div class="modal-body">
                                    <h5> Numero de Linea--> 911</h5>
                                    <h5> WhatsApp--> -</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->
                </div>
                <!--FIN ICONOS-->
            </div>
        </div>
        <!--FIN CARD 145-->
    </div>


</section>
<!--FIN CARD DECK-->

<section>
    <div class="alert alert-success text-center" role="alert">
        Recuerde que cada línea telefónica está disponible las 24hs y los 365 días del año, no dude en realizar la denuncia y registrarla en nuestro sitio!!
    </div>

    <hr>

    <!--BOTONES-->
    <div class="text-center">

        <!--MODAL INFO-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success btn-lg m-2 p-3" data-toggle="modal" data-target="#exampleModalBotonInfo">
          Más Información
          </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalBotonInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-scrollable text-center">
                <div class="modal-content text-center">
                    <div class="modal-header text-center">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Registro de Denuncias</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        Para realizar una denuncia deberá completar un formulario para poder guiarnos a qué área corresponde dicha denuncia y de esa forma que llegué al sector correspondiente formado por expertos. Tenga en cuenta para dicha denuncia se deberá incluir el máximo
                        de evidencias para así poder validar la misma de una manera mucho más rápida.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>

        <!--FIN MODAL INFO-->

        <button type="button" class="btn btn-success btn-lg m-2 p-3">Registrar Denuncia</button>
    </div>
    <!--FIN BOTONES-->
    <hr>

</section>
