<!--HEADER-->
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/proteger.ico" width="30" height="30" alt="" class="d-inline-block align-top" alt="" loading="lazy"> Denuncia Online
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse text-center" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio
            <span class="sr-only">(current)</span>
          </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registrar Denuncia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Novedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ayudas</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Fin Navigation -->
</header>
<!--FIN HEADER-->