<!--HEADER-->
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/proteger.ico" width="30" height="30" alt="" class="d-inline-block align-top" alt="" loading="lazy"> Denuncia Online
            </a>

            <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse text-center" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/inicio">Inicio
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalAyuda">Ayuda</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/novedades">Novedades</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/calendario">Calendario</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/formulario-denuncias">Registrar Denuncia</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
    <!-- Fin Navigation -->
    <!--MODAL AYUDA(fuera del nav)-->
    <div class="modal fade " id="modalAyuda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content m-2">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Ayuda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    En este sitio se te brinda la mayor información posible para ayudarte, los números de telefono estan disponibles las 24 hs y los 365 días del año, podés contactarte también por mail o por whatsapp, sino dirigirte a alguna entidad visible mismo en la página,
                    en donde se detallan los medios de comunicación y su dirección.<br>En caso de que quieras realizar alguna denuncia clickea el botón "Registar Denuncia" desde la página o mismo desde la barra de direcciones ubicada
                    en la parte superior. Recordá que deberás adjuntar la mayor documentación posible para que se acredite de forma correcta tu denuncia. <br> Estamos para ayudarte
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!--MODAL AYUDA-->
</header>
<!--FIN HEADER-->
