<section>
    <!--GOOGLE MAP-->
    <div class="card text-center text-dark">
        <h5 class="card-header">Ministerio de las Mujeres, Políticas de Género, y Diversidad Sexual</h5>
        <div class="card-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13086.760988668932!2d-57.9480185!3d-34.9142221!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xca197542f83c309f!2sMinisterio%20de%20las%20Mujeres%2C%20Pol%C3%ADticas%20de%20G%C3%A9nero%2C%20y%20Diversidad%20Sexual!5e0!3m2!1spt-PT!2sar!4v1608353571669!5m2!1spt-PT!2sar"
                width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="m-2">
                <p><strong>Dirección:</strong> La Plata, Provincia de Buenos Aires</p>
                <p><strong>Telefono:</strong> +542214222546</p>
            </div>
            <a href="https://www.gba.gob.ar/mujeres" target="_blank" class="btn btn-success">Ir al Sitio Web</a>
        </div>
    </div>
    <!--FIN GOOGLE MAP-->

</section>
