<section class="container text-center">
    <br><br>
    <div class="card bg-success text-white mt-5">
        <img src="../assets/violencia4.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="bg-sucess">
                <h4 class="card-title">PLAN NACIONAL CONTRA LA DISCRIMINACIÓN</h4>
                <p class="card-text">Esta semana comenzó un nuevo ciclo de los Foros, con 70 organizaciones de la región Cuyo y Patagonia..</p>
                <a href="https://www.argentina.gob.ar/noticias/plan-nacional-contra-la-discriminacion-siguen-los-encuentros-federales" target="blank"><button class="btn btn-success">Ir al Artículo</button></a>
            </div>
        </div>
    </div>

    <div class="card bg-success text-white mt-5">
        <img src="../assets/igualdad.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="bg-sucess">
                <h4 class="card-title">COMPROMISO CON LA IGUALDAD DE GÉNERO</h4>
                <p class="card-text">En el mes de la mujer, CIFI reforzó su compromiso con la equidad de género al adoptar oficialmente su Política de Igualdad de Género</p>
                <a href="http://www.cifi.com/2019/04/05/compromiso-con-la-igualdad-de-genero/" target="blank"><button class="btn btn-success">Ir al Artículo</button></a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="media">
        <img src="../assets/igualdad-de-genero.svg" width="100px" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-3">
                <a class="mr-3" href="#">
                    <img src="../assets/racism.svg" width="100px" class="mr-3" alt="...">
                </a>
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>

    <br><br>


</section>