<section class="container text-center">

    <br><br>
    <!--CARD PLAN DISCRIMINACION-->
    <a href="https://www.argentina.gob.ar/noticias/plan-nacional-contra-la-discriminacion-siguen-los-encuentros-federales" target="blank">
        <div class="card bg-success text-white mt-5">
            <img src="../assets/violencia4.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <div class="bg-sucess">
                    <h4 class="card-title">PLAN NACIONAL CONTRA LA DISCRIMINACIÓN</h4>
                    <h6 class="card-text  d-none d-sm-none  d-md-block">Esta semana comenzó un nuevo ciclo de los Foros, con 70 organizaciones de la región Cuyo y Patagonia..</h6>
                    <span class="badge badge-success">Ministerio de Justicia y Derechos Humanos</span>
                </div>
            </div>
        </div>
    </a>

    <!--FIN CARD PLAN DISCRIMINACION-->
    <!--CARD IGUALDAD DE GENERO-->
    <a href="http://www.cifi.com/2019/04/05/compromiso-con-la-igualdad-de-genero/" target="blank">
        <div class="card bg-success text-white mt-5">
            <img src="../assets/igualdad.jpg" class="card-img" alt="...">
            <div class="card-img-overlay text-center">
                <div class="bg-sucess text-white">
                    <h4 class="card-title">COMPROMISO CON LA IGUALDAD DE GÉNERO</h4>
                    <h6 class="card-text d-none d-sm-none  d-md-block">En el mes de la mujer, CIFI reforzó su compromiso con la equidad de género al adoptar oficialmente su Política de Igualdad de Género</h6>
                    <span class="badge badge-success">CIFI</span>
                </div>

            </div>
        </div>

    </a>

    <!--FIN CARD IGUALDAD DE GENERO-->
    <br><br>

    <h2><span class="badge badge-success text-center">DOCUMENTACIÓN Y PROGRAMAS</span></h2>

    <br>
    <hr>
    <!--MEDIA BODY IGUALDAD-->
    <div class="media">

        <img src="../assets/igualdad-de-genero.svg" width="100px" class="mr-3" alt="...">
        <div class="media-body text-left">
            <h5 class="mt-0  text-center">Comunidades sin Violencias</h5><br>El Programa “Comunidades sin Violencias” busca fortalecer los abordajes contra las violencias por razones de género en los 135 municipios, a la vez que apunta a trabajar sobre el diseño institucional de cada
            espacio para la gestión y el desarrollo local de políticas de género.<br> Cuenta con tres líneas de trabajo: una fortalecer los equipos locales de cada municipio; en segundo lugar construir o remodelar infraestructura para ampliar la Red de
            Hogares de Protección Integral que albergan a mujeres y familias en situación de violencia y las casas de medio camino; y por último desarrollar vías de acceso al trabajo para mujeres y LGTBI+.<br>
            <div class="text-center mt-4">
                <a href="http://ministeriodelasmujeres.gba.gob.ar/img/ext/comunidades.pdf" target="blank"><button class="btn btn-success text-center" ><span class="badge badge-success text-center">Ver Documento PDF </span></button></a>
            </div>
        </div>
    </div>

    <!--FIN MEDIA BODY IGUALDAD-->

    <hr>

    <!--MEDIA BODY DISCRIMINACION-->
    <div class="media mt-3">
        <a class="mr-3" href="#">
            <img src="../assets/racism.svg" width="100px" class="mr-3" alt="...">
        </a>
        <div class="media-body text-left">
            <h5 class="mt-0 text-center">Memoria de Gestión INADI 2020</h5><br> En un año signado por la pandemia y la crisis económica, en el Instituto Nacional contra la Discriminación, la Xenofobia y el Racismo (INADI) trabajo desde el primer día para aportar a la contención social
            de los sectores más vulnerables en este momento de fragilidad.<br>Invitamos al público en general a leer y revisar nuestra Memoria Anual completa disponible en esta misma página.<br>
            <div class="text-center mt-4">
                <a href="https://www.argentina.gob.ar/sites/default/files/memoria_anual_del_inadi_22-12-2020-convertido.pdf" target="blank"><button class="btn btn-success text-center" ><span class="badge badge-success text-center">Ver Documento PDF </span></button></a>
            </div>
        </div>
    </div>
    <!--FIN MEDIA BODY DISCRIMINACION-->
    <hr>

    <br><br>


</section>
